body {
  background-color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cal-wrapper {
  background-color: black;
  width: 400px;
  border-radius: 10px;
  margin: px;
}

.row {
  display: flex;
}